WebService_server/WSBancoMu/WebContent/wsdl/ServicoConta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sacar">
    <complexType>
     <sequence>
      <element name="idconta" type="xsd:int"/>
      <element name="quantia" type="xsd:double"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sacarResponse">
    <complexType/>
   </element>
   <element name="aberturaDeConta">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="aberturaDeContaResponse">
    <complexType/>
   </element>
   <element name="depositar">
    <complexType>
     <sequence>
      <element name="idconta" type="xsd:int"/>
      <element name="quantia" type="xsd:double"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositarResponse">
    <complexType/>
   </element>
   <element name="consultarDadosConta">
    <complexType>
     <sequence>
      <element name="idConta" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarDadosContaResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="consultarDadosContaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="depositarRequest">

      <wsdl:part element="impl:depositar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="aberturaDeContaResponse">

      <wsdl:part element="impl:aberturaDeContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositarResponse">

      <wsdl:part element="impl:depositarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="aberturaDeContaRequest">

      <wsdl:part element="impl:aberturaDeConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaResponse">

      <wsdl:part element="impl:consultarDadosContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sacarResponse">

      <wsdl:part element="impl:sacarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaRequest">

      <wsdl:part element="impl:consultarDadosConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sacarRequest">

      <wsdl:part element="impl:sacar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicoConta">

      <wsdl:operation name="sacar">

         <wsdl:input message="impl:sacarRequest" name="sacarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sacarResponse" name="sacarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="aberturaDeConta">

         <wsdl:input message="impl:aberturaDeContaRequest" name="aberturaDeContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:aberturaDeContaResponse" name="aberturaDeContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositar">

         <wsdl:input message="impl:depositarRequest" name="depositarRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositarResponse" name="depositarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarDadosConta">

         <wsdl:input message="impl:consultarDadosContaRequest" name="consultarDadosContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarDadosContaResponse" name="consultarDadosContaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicoContaSoapBinding" type="impl:ServicoConta">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sacar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sacarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sacarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="aberturaDeConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="aberturaDeContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="aberturaDeContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarDadosConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarDadosContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarDadosContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicoContaService">

      <wsdl:port binding="impl:ServicoContaSoapBinding" name="ServicoConta">

         <wsdlsoap:address location="http://localhost:8080/WSBancoMu/services/ServicoConta"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
